info.txt
__pycache__/
*.pyc

task2/storage/uploads/*
!task2/storage/uploads/.gitkeep
!task2/storage/uploads/test_1.pdf
!task2/storage/uploads/test_2.pdf
!task2/storage/uploads/test_3.pdf
!task2/storage/uploads/test_invalid.txt
!task2/storage/uploads/test_1.png
!task2/storage/uploads/test_blank.png
!task2/storage/uploads/test_jpg.jpeg

task2/storage/extracted_text/*
!task2/storage/extracted_text/.gitkeep

task2/storage/chromadb/*
!task2/storage/chromadb/.gitkeep

task2/logs/*.log
!task2/logs/.gitkeep

documentation/alience_ppt_raw.txt
documentation/Allianz_PPT.pdf

.env