# api
fastapi
uvicorn
httpx

# Core
python-multipart
python-dotenv

# AI / NLP
pypdf
easyocr
langchain-text-splitters
sentence-transformers

# LLM
openai

# DB
pymongo
chromadb

# UI
streamlit
requests

# Development
pytest